<!-- @structr:public, @structr:owner(admin), @structr:grant(admin,arwd) --><nav class="landing-page-nav" data-structr-meta-name="Main Nav">
	<!-- @structr:owner(admin), @structr:grant(admin,arwd) -->
	<div class="container d-flex align-items-center justify-content-between"><!-- @structr:owner(admin), @structr:grant(admin,arwd) --><a class="navbar-logo pull-left scrollTo" href="/"><!-- @structr:owner(admin), @structr:grant(admin,arwd) --><img src="/img/logos/covid%E2%9D%8Bgraph-logo-light.png"></a>
		<!-- @structr:owner(admin), @structr:grant(admin,arwd) -->
		<ul class="navbar-nav d-none d-lg-flex flex-row">
			<!-- @structr:protected, @structr:owner(admin), @structr:grant(admin,arwd) -->
			<li class="nav-item"><!-- @structr:owner(admin), @structr:grant(admin,arwd) --><a class="scrollTo" href="/dashboard"><!-- @structr:owner(admin), @structr:grant(admin,arwd), @structr:content(text/plain) -->APPLICATION</a></li>
			<!-- @structr:owner(admin), @structr:grant(admin,arwd) -->
			<li class="nav-item"><!-- @structr:owner(admin), @structr:grant(admin,arwd) --><a class="scrollTo" href="/#aims"><!-- @structr:owner(admin), @structr:grant(admin,arwd), @structr:content(text/plain) -->WHAT WE DO</a></li>
			<!-- @structr:owner(admin), @structr:grant(admin,arwd) -->
			<li class="nav-item"><!-- @structr:owner(admin), @structr:grant(admin,arwd) --><a class="scrollTo" href="/#who-we-are"><!-- @structr:owner(admin), @structr:grant(admin,arwd), @structr:content(text/plain) -->WHO WE ARE</a></li>
			<!-- @structr:owner(admin), @structr:grant(admin,arwd) -->
			<li class="nav-item"><!-- @structr:owner(admin), @structr:grant(admin,arwd) --><a href="/news"><!-- @structr:owner(admin), @structr:grant(admin,arwd), @structr:content(text/plain) -->NEWS</a></li><!-- @structr:owner(admin), @structr:grant(admin,arwd), @structr:content(text/html) --><!--li class="nav-item"><a href="/#how-to-help" class="scrollTo">HOW TO HELP</a></li--><!-- @structr:owner(admin), @structr:grant(admin,arwd), @structr:content(text/html) --><!--li class="nav-item"><a href="/#data" class="scrollTo">DATA</a></li--><!-- @structr:owner(admin), @structr:grant(admin,arwd), @structr:content(text/html) --><!--li class="nav-item"><a href="/#use-cases" class="scrollTo">USE CASES</a></li-->
			<!-- @structr:owner(admin), @structr:grant(admin,arwd) -->
			<li class="nav-item pl-4"><!-- @structr:owner(admin), @structr:grant(admin,arwd) --><a class="btn btn-outline-semi-light btn-sm pr-4 pl-4" href="/contact" target="_top"><!-- @structr:owner(admin), @structr:grant(admin,arwd), @structr:content(text/plain) -->GET IN TOUCH</a></li>
		</ul><!-- @structr:owner(admin), @structr:grant(admin,arwd) --><a class="mobile-menu-button" href="#"><!-- @structr:owner(admin), @structr:grant(admin,arwd) --><i class="simple-icon-menu"></i></a>
	</div>
</nav>