<!-- @structr:protected, @structr:owner(admin), @structr:grant(admin,arwd) --><div class="menu" data-structr-meta-name="Navigation Left (Application_)">
	<!-- @structr:owner(admin), @structr:grant(admin,arwd) -->
	<div class="main-menu">
		<!-- @structr:owner(admin), @structr:grant(admin,arwd) -->
		<div class="scroll">
			<!-- @structr:owner(admin), @structr:grant(admin,arwd) -->
			<ul class="list-unstyled">
				<!-- @structr:private, @structr:owner(admin), @structr:grant(admin,arwd) -->
				<li class="${is(equal(page.category,'administration'),'active')}"><!-- @structr:owner(admin), @structr:grant(admin,arwd) --><a href="#administration"><!-- @structr:owner(admin), @structr:grant(admin,arwd) --><i class="iconsminds-gears"></i><!-- @structr:owner(admin), @structr:grant(admin,arwd) --><span><!-- @structr:owner(admin), @structr:grant(admin,arwd), @structr:content(text/plain) -->Administration</span></a></li>
				<!-- @structr:owner(admin), @structr:grant(admin,arwd) -->
				<li class="${is(equal(page.name,'dashboard'),'active')}"><!-- @structr:owner(admin), @structr:grant(admin,arwd) --><a href="/dashboard"><!-- @structr:owner(admin), @structr:grant(admin,arwd) --><i class="iconsminds-monitor-analytics"></i><!-- @structr:owner(admin), @structr:grant(admin,arwd) --><span><!-- @structr:owner(admin), @structr:grant(admin,arwd), @structr:content(text/plain) -->Dashboards</span></a></li>
				<!-- @structr:owner(admin), @structr:grant(admin,arwd) -->
				<li class="${is(equal(page.category,'list'),'active')}"><!-- @structr:owner(admin), @structr:grant(admin,arwd) --><a href="#datalists"><!-- @structr:owner(admin), @structr:grant(admin,arwd) --><i class="iconsminds-big-data"></i><!-- @structr:owner(admin), @structr:grant(admin,arwd), @structr:content(text/plain) -->Data Lists</a></li>
			</ul>
		</div>
	</div>
	<!-- @structr:owner(admin), @structr:grant(admin,arwd) -->
	<div class="sub-menu">
		<!-- @structr:owner(admin), @structr:grant(admin,arwd) -->
		<div class="scroll">
			<!-- @structr:owner(admin), @structr:grant(admin,arwd) -->
			<ul class="list-unstyled" id="administration" data-link="administration">
				<!-- @structr:owner(admin), @structr:grant(admin,arwd) -->
				<li class="${is(equal(page.name,'news-editor'),'active')}"><!-- @structr:owner(admin), @structr:grant(admin,arwd) --><a href="/news-editor"><!-- @structr:owner(admin), @structr:grant(admin,arwd) --><i class="iconsminds-newspaper"></i><!-- @structr:owner(admin), @structr:grant(admin,arwd) --><span class="d-inline-block"><!-- @structr:owner(admin), @structr:grant(admin,arwd), @structr:content(text/plain) -->News Editor</span></a></li>
			</ul>
			<!-- @structr:owner(admin), @structr:grant(admin,arwd) -->
			<ul class="list-unstyled" id="datalists" data-link="datalists">
				<!-- @structr:owner(admin), @structr:grant(admin,arwd) -->
				<li class="${is(equal(page.name,'genes'),'active')}"><!-- @structr:owner(admin), @structr:grant(admin,arwd) --><a href="/genes"><!-- @structr:owner(admin), @structr:grant(admin,arwd) --><i class="iconsminds-dna-2"></i><!-- @structr:owner(admin), @structr:grant(admin,arwd) --><span class="d-inline-block"><!-- @structr:owner(admin), @structr:grant(admin,arwd), @structr:content(text/plain) -->Genes</span></a></li>
				<!-- @structr:owner(admin), @structr:grant(admin,arwd) -->
				<li class="${is(equal(page.name,'papers'),'active')}"><!-- @structr:owner(admin), @structr:grant(admin,arwd) --><a href="/papers"><!-- @structr:owner(admin), @structr:grant(admin,arwd) --><i class="iconsminds-testimonal"></i><!-- @structr:owner(admin), @structr:grant(admin,arwd) --><span class="d-inline-block"><!-- @structr:owner(admin), @structr:grant(admin,arwd), @structr:content(text/plain) -->Papers</span></a></li>
				<!-- @structr:owner(admin), @structr:grant(admin,arwd) -->
				<li class="${is(equal(page.name,'patents'),'active')}"><!-- @structr:owner(admin), @structr:grant(admin,arwd) --><a href="/patents"><!-- @structr:owner(admin), @structr:grant(admin,arwd) --><i class="iconsminds-diploma-2"></i><!-- @structr:owner(admin), @structr:grant(admin,arwd) --><span class="d-inline-block"><!-- @structr:owner(admin), @structr:grant(admin,arwd), @structr:content(text/plain) -->Patents</span></a></li>
				<!-- @structr:owner(admin), @structr:grant(admin,arwd) -->
				<li class="${is(equal(page.name,'authors'),'active')}"><!-- @structr:owner(admin), @structr:grant(admin,arwd) --><a href="/authors"><!-- @structr:owner(admin), @structr:grant(admin,arwd) --><i class="iconsminds-student-male-female"></i><!-- @structr:owner(admin), @structr:grant(admin,arwd) --><span class="d-inline-block"><!-- @structr:owner(admin), @structr:grant(admin,arwd), @structr:content(text/plain) -->Authors</span></a></li>
				<!-- @structr:owner(admin), @structr:grant(admin,arwd) -->
				<li class="${is(equal(page.name,'proteins'),'active')}"><!-- @structr:owner(admin), @structr:grant(admin,arwd) --><a href="/proteins"><!-- @structr:owner(admin), @structr:grant(admin,arwd) --><i class="iconsminds-chemical"></i><!-- @structr:owner(admin), @structr:grant(admin,arwd) --><span class="d-inline-block"><!-- @structr:owner(admin), @structr:grant(admin,arwd), @structr:content(text/plain) -->Proteins</span></a></li>
				<!-- @structr:owner(admin), @structr:grant(admin,arwd) -->
				<li class="${is(equal(page.name,'tissues'),'active')}"><!-- @structr:owner(admin), @structr:grant(admin,arwd) --><a href="/tissues"><!-- @structr:owner(admin), @structr:grant(admin,arwd) --><i class="iconsminds-brain"></i><!-- @structr:owner(admin), @structr:grant(admin,arwd) --><span class="d-inline-block"><!-- @structr:owner(admin), @structr:grant(admin,arwd), @structr:content(text/plain) -->Tissues</span></a></li>
			</ul>
		</div>
	</div>
</div>