<!-- @structr:private, @structr:owner(Jakob), @structr:grant(Jakob,arwd) --><footer class="sticky-footer bg-white" data-structr-meta-name="Navigation Bottom (Application)">
	<!-- @structr:owner(Jakob), @structr:grant(Jakob,arwd) -->
	<div class="container my-auto">
		<!-- @structr:owner(Jakob), @structr:grant(Jakob,arwd) -->
		<div class="copyright text-center my-auto"><!-- @structr:owner(Jakob), @structr:grant(Jakob,arwd) --><span><!-- @structr:owner(Jakob), @structr:grant(Jakob,arwd), @structr:content(text/plain) -->Copyright © Structr GmbH 2020</span></div>
	</div>
</footer>