<!--div class="section background">
	  <div class="container" id="use-cases">
	   <div class="row">
		<div class="col-12 offset-0 col-lg-8 offset-lg-2">
		 <h2>Use Cases</h2>
		 <p>Scientists around the world have been given the task to work on COVID-19. Many publications around the virus have been published in the past months, but relevant work around the family of coronaviruses already existed before covid 19 appeared.</p>
		 <p>We would like to help researchers and scientists to quickly and efficiently find their way through the more than 40.000 existing publications. We provide them with tools that use artificial intelligence, advanced visualization techniques, and intuitive user interfaces to explore papers and patents around the family of the corona viruses, existing treatments and medications.</p>
		</div>
	   </div>
	  </div>
	 </div>

	 <div class="section">
	  <div class="container" id="how-to-help">
	   <div class="row">
		<div class="col-12 offset-0 col-lg-8 offset-lg-2">
		 <h2>How to Help</h2>
		 <p>
		  We need your help to learn more about COVID-19! You can help with:
		  <ul>
		   <li>data analysis on the integrated data set</li>
		   <li>load more datasets to Neo4j</li>
		   <li>improve our website</li>
		   <li>communicate and share our project</li>
		  </ul>
		 </p>
		</div>
	   </div>
	  </div>
	 </div-->

<!--div class="section background background-no-bottom mb-0">
	  <div class="container" id="get-in-touch">
	   <div class="row">
		<div class="col-12 offset-0 col-lg-8 offset-lg-2">
		 <h2>Get in Touch</h2>
		 <p>
		  We use <a href="https://matrix.org">Matrix</a> to communicate. It's a free and federated Slack.
		  <br><br>
		  <a href="https://about.riot.im/">Riot</a> is the standard client for Matrix.
		  <br><br>
		  <a class="btn btn-secondary btn-xl" target="_top" href="https://about.riot.im/downloads">DOWNLOAD RIOT</a>
		  <br><br>
		  How to get started:
		  <br>
		 </p>
		 <ul>
		  <li>Download Riot or start the web app: <a href="https://about.riot.im/downloads">https://about.riot.im/downloads</a></li>
		  <li>When asked to login/signup: create a free account on the matrix.org homeserver</li>
		  <li>Join our main room: Click 'explore', search for our room, click join: #covidgraph:meet.dzd-ev.de</li>
		 </ul>
		 Please set your full name in your Riot profile, introduce yourself in the main room and read our <a href="https://github.com/covidgraph/documentation/wiki">community wiki</a>.
		</div>

	   </div>
	  </div>
	 </div-->