<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-12 offset-0 col-lg-8 offset-lg-2">
				<h2>Get in Touch</h2>
				<p>
					If you want to connect with us, please fill out the following form. 
				<form id="contact-form" action="javascript:void(0)">
					<div class="form-group">
						<label for="name">Name <b style="color:red">*</b></label>
						<input class="form-control" id="name" name="name" placeholder="Enter your name" required>
					</div>

					<div class="form-group">
						<label for="e-mail">E-Mail <b style="color:red">*</b></label>
						<input class="form-control" id="e-mail" name="e-mail" type="e-mail" placeholder="Enter your e-mail address" required>
					</div>

					<div class="form-group">
						<label for="interest">Profession/Interest</label>
						<p class="small">
							<input name="interest" type="checkbox" value="medical-professional"/>&nbsp;&nbsp; Medical Professional<br>
							<input name="interest" type="checkbox" value="medical-publisher"/>&nbsp;&nbsp; Medical Publisher<br>
							<input name="interest" type="checkbox" value="data-scientist-or-developer"/>&nbsp;&nbsp; Data Scientist or Software Developer<br>
							<input name="interest" type="checkbox" value="other"/>&nbsp;&nbsp; General Public, Press or Media<br>
						</p>
					</div>

					<div class="form-group mb-5">
						<label for="bio">Comment</label>
						<textarea class="form-control" id="comment" name="comment"></textarea>
					</div>

					<div class="form-group">
						<label for="interest">Disclaimer <b style="color:red">*</b></label><br>
						<input name="disclaimer" id="policy-accepted" type="checkbox" value="true" required>&nbsp;&nbsp; I accept the Privacy Policy available at <a href="/privacy-policy">https://covidgraph.org/privacy-policy</a>.
					</div>

					<div class="d-flex justify-content-between align-items-center mb-5">
						<input type="submit" class="btn btn-primary btn-lg btn-shadow send-button" type="button" value="SEND">
					</div>
					
					<div class="form-group">
						<p class="small">
							(<b style="color:red">*</b>) Mandatory fields
						</p>
					</div>
					
				</form>
			</div>
		</div>
	</div>
</div>