					<div class="section mb-0">
						<div class="container" id="data">

							<div class="row mb-5">
								<div class="col-12 offset-0 col-lg-8 offset-lg-2 text-center">
									<h2>Data</h2>
									<p>
										We integrate data from various sources and link them in our knowledge graph:
									</p>
								</div>
							</div>

							<div class="row pt-5">

								<div class="col-12 col-md-6 col-lg-6 mb-3">
									<h3>COVID-19 Open Research Dataset (CORD-19)</h3>

									<p>In response to the COVID-19 pandemic, the Allen Institute for AI has partnered with leading research groups to prepare and distribute the COVID-19 Open Research Dataset (CORD-19), a free resource of over 44,000 scholarly articles, including over 29,000 with full text, about COVID-19 and the coronavirus family of viruses for use by the global research community.</p>
									<a href="https://pages.semanticscholar.org/coronavirus-research">https://pages.semanticscholar.org/coronavirus-research</a>
								</div>
								<div class="col-12 col-md-6 col-lg-6 mb-3">
									<img class="img-fluid border-radius depth-2 mb-3 semi-rounded" src="/img/content-img/semantic-scholar-corona.jpg">
								</div>
								<div class="col-12 mb-5">
								</div>

								<div class="col-12 col-md-6 col-lg-6 mb-3 pl-3">
									<h3>The Lens COVID-19 Datasets</h3>
									<p>
										The Lens has assembled free and open datasets of patent documents, scholarly research works metadata and biological sequences from patents, and deposited them in a machine-readable and explorable form.</p>
									<a href="https://about.lens.org/covid-19/">https://about.lens.org/covid-19/</a>
								</div>
								<div class="col-12 col-md-6 col-lg-6 mb-3">
									<img class="img-fluid border-radius depth-2 mb-3 semi-rounded" src="/img/content-img/the-lens-covid-19.jpg">
								</div>
								<div class="col-12 mb-5">
								</div>

								<div class="col-12 col-md-6 col-lg-6 mb-3 pl-3">
									<h3>Ensembl Genome Browser</h3>
									<p>
										Ensembl is a genome browser for vertebrate genomes that supports research in comparative genomics, evolution, sequence variation and transcriptional regulation. Ensembl annotate genes, computes multiple alignments, predicts regulatory function and collects disease data. Ensembl tools include BLAST, BLAT, BioMart and the Variant Effect Predictor (VEP) for all supported species.</p>
									<a href="http://www.ensembl.org">http://www.ensembl.org</a>
								</div>
								<div class="col-12 col-md-6 col-lg-6 mb-3">
									<img class="img-fluid border-radius depth-2 mb-3 semi-rounded" src="/img/content-img/ensembl-org.jpg">
								</div>
								<div class="col-12 mb-5">
								</div>

								<div class="col-12 col-md-6 col-lg-6 mb-3 pl-3">
									<h3>NCBI Gene Database</h3>
									<p>
										Gene integrates information from a wide range of species. A record may include nomenclature, Reference Sequences (RefSeqs), maps, pathways, variations, phenotypes, and links to genome-, phenotype-, and locus-specific resources worldwide.</p>
									<a href="https://www.ncbi.nlm.nih.gov/gene">https://www.ncbi.nlm.nih.gov/gene</a>
								</div>
								<div class="col-12 col-md-6 col-lg-6 mb-3">
									<img class="img-fluid border-radius depth-2 mb-3 semi-rounded" src="/img/content-img/NCBI Gene Database.png">
								</div>
								<div class="col-12 mb-5">
								</div>

								<div class="col-12 col-md-6 col-lg-6 mb-3 pl-3">
									<h3>The Gene Ontology Resource</h3>
									<p>The Gene Ontology (GO) knowledgebase is the world’s largest source of information on the functions of genes. This knowledge is both human-readable and machine-readable, and is a foundation for computational analysis of large-scale molecular biology and genetics experiments in biomedical research.</p>
									<a href="http://geneontology.org">http://geneontology.org</a>
								</div>
								<div class="col-12 col-md-6 col-lg-6 mb-3">
									<img class="img-fluid border-radius depth-2 mb-3 semi-rounded" src="/img/content-img/gene-ontology-org.jpg">
								</div>
								<div class="col-12 mb-5">
								</div>

								<div class="col-12 col-md-6 col-lg-6 mb-3 pl-3">
									<h3>Experimental data from clinical studies and molecular genetics</h3>
									<p>(t.b.d.)</p>
									<a href=""></a>
								</div>
								<div class="col-12 col-md-6 col-lg-6 mb-3">
									<img class="img-fluid border-radius depth-2 mb-3 semi-rounded" src="/img/landing-page/layout-11.jpg">
								</div>
								<div class="col-12 mb-5">
								</div>
							
								<div class="col-12 col-md-6 col-lg-6 mb-3 pl-3">
									<h3>2019 Novel Coronavirus COVID-19 (2019-nCoV) Data Repository by Johns Hopkins CSSE</h3>
									<p>This is the data repository for the 2019 Novel Coronavirus Visual Dashboard operated by the Johns Hopkins University Center for Systems Science and Engineering (JHU CSSE). Also, Supported by ESRI Living Atlas Team and the Johns Hopkins University Applied Physics Lab (JHU APL).</p>
									<a href="https://github.com/CSSEGISandData/COVID-19">https://github.com/CSSEGISandData/COVID-19</a>
								</div>
								<div class="col-12 col-md-6 col-lg-6 mb-3">
									<img class="img-fluid border-radius depth-2 mb-3 semi-rounded" src="https://covidgraph.org/img/content-img/github-john-s-hopkins.png">
								</div>
								<div class="col-12 mb-5">
								</div>
								
								<div class="col-12 col-md-6 col-lg-6 mb-3 pl-3">
									<h3>United Nations World Population Prospects 2019</h3>
									<p>The 2019 Revision of World Population Prospects is the twenty-sixth round of official United Nations population estimates and projections that have been prepared by the Population Division of the Department of Economic and Social Affairs of the United Nations Secretariat.</p>
									<a href="https://population.un.org/wpp/">https://population.un.org/wpp/</a>
								</div>
								<div class="col-12 col-md-6 col-lg-6 mb-3">
									<img class="img-fluid border-radius depth-2 mb-3 semi-rounded" src="https://covidgraph.org/img/content-img/united-nations-population-data.png">
								</div>
								<div class="col-12 mb-5">
								</div>
							</div>
						</div>
					</div>
