<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>CovidGraph - Main Page</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="stylesheet" href="font/iconsmind/style.css">
		<link rel="stylesheet" href="font/simple-line-icons/css/simple-line-icons.css">

		<link rel="stylesheet" href="css/vendor/bootstrap-stars.css">
		<link rel="stylesheet" href="css/vendor/bootstrap.min.css">
		<link rel="stylesheet" href="css/vendor/owl.carousel.min.css">
		<link rel="stylesheet" href="css/vendor/bootstrap-stars.css">
		<link rel="stylesheet" href="css/vendor/video-js.css">
		<link rel="stylesheet" href="css/dore.light.blue.min.css">
		<link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="css/custom.css">
	</head>

	<body class="show-spinner">
		<div class="landing-page">
${include('Mobile Menu')}				
			<div class="main-container">
${include('Main Nav')}				
				<div class="content-container" id="home">

					<div class="section hero" style="height:950px">
						<div class="container">
							<div class="row home-row">
								<div class="col-12 d-block d-md-none">
									<a href="/" target="_blank">
										<!--<img alt="mobile hero" class="mobile-hero" src="/img/content-img/data_model_with_logos_and_numbers.png">-->
										<img alt="mobile hero" class="mobile-hero" src="/img/content-img/Schema_v1.0_no_logo.png">
									</a>
								</div>

								<div class="col-12 col-xl-4 col-lg-5 col-md-6">
									<div class="home-text">
										<div class="display-1">COVID-19<br>Knowledge Graph</div>
										<p class="white mb-5">
											CovidGraph is a non-profit collaboration of researchers, software developers, data scientists and medical professionals.
											<br><br>
											We have built a research and communication platform that encompasses over 40,000 publications, case statistics, genes and functions, molecular data and much more.
										</p>
										<a class="btn btn-outline-semi-light btn-xl mr-2 mb-2 scrollTo" href="#aims">READ MORE <i class="simple-icon-arrow-right"></i></a>

									</div>
								</div>
								<div class="col-12 col-xl-7 offset-xl-1 col-lg-7 col-md-6 d-none d-md-block">
									<!--<img class="hero" alt="hero" src="/img/content-img/data_model_with_logos_and_numbers.png">-->
									<img alt="mobile hero" class="mobile-hero" src="/img/content-img/Schema_v1.0_no_logo.jpg">
								</div>
							</div>
						</div>
					</div>

					<div class="section">
						<div class="container" id="aims">

							<div class="row mb-5">
								<div class="col-12 offset-0 col-lg-8 offset-lg-2">
									<h2 class="text-center">Who Is This Project Aimed At?</h2>
									<p>
										Our aim is to help researchers quickly and efficiently find their way through COVID-19 datasets and to provide tools that use artificial intelligence, advanced visualization techniques, and intuitive user interfaces. This allows to explore papers, patents, existing treatments and medications around the family of the corona viruses.
									</p>
									<div class="row">
										<div class="col-6">
											<p>
												In addition to literature data we connected information from fundamental entities in biology - namely genes and proteins and their function - , spanning a network of unparalleled size and knowledge.
											</p>
										</div>
										<div class="col-6">
											<p>
												Knowledge is primarily centered around the domain of corona-viruses but is steadily extended to other connected diseases.
											</p>
										</div>
									</div>
								</div>
							</div>
							
							<div class="row mb-3">
								<div class="col-12 offset-0 col-lg-8 offset-lg-2">
									<h3>
										Become part of this project and help free the world of COVID-19:
									</h3>
								</div>
							</div>							
							
							<div class="row" id="interest-boxes">

								<div class="col-lg-3 col-md-6">
									<div class="card">
										<div class="card-body">
											<div class="text-center">
												<h3 class="mb-3 font-weight-semibold">
													Medical &amp; Pharma Researchers

												</h3>
												<a href="#applications"><img class="border-radius depth-2 mt-4 mb-3 semi-rounded" src="/img/content-img/bloom-Gene_ACE2_MENTIONED_Paper.jpg"></a>
											</div>
											<div>
												<p class="detail-text">
													Our main aim is to support you and enable your scientific analysis. 
													Please feed us questions that you would like to ask of CovidGraph or take our apps and datasets for a test drive. We are relying on your input to create the applications that help you.
												</p>
											</div>
										</div>
										<div class="card-footer">
											<div class="text-center">
												<a class="btn btn-secondary btn-xl mr-2 mb-2 scrollTo" href="/contact">CONTACT US</a>
											</div>
										</div>
									</div>
								</div>

								<div class="col-lg-3 col-md-6">
									<div class="card">
										<div class="card-body">
											<div class="text-center">
												<h3 class="mb-3 font-weight-semibold">
													Medical<br>Databases
												</h3>
												<a href="/data"><img class="border-radius depth-2 mt-4 mb-3 semi-rounded" src="/img/content-img/covidgraph-schema.jpg"></a>
											</div>
											<div>
												<p class="detail-text">
													The CovidGraph project depends on data. We are looking for new datasources to enrich our knowledge graph. Any biomedical dataset relevant for COVID-19 research can be included in our database.
												</p>
											</div>
										</div>
										<div class="card-footer">
											<div class="text-center">
												<a class="btn btn-secondary btn-xl mr-2 mb-2 scrollTo" href="/contact">CONTACT US</a>
											</div>
										</div>
									</div>
								</div>

								<div class="col-lg-3 col-md-6">
									<div class="card">
										<div class="card-body">
											<div class="text-center">
												<h3 class="mb-3 font-weight-semibold">
													Data Scientists<br>
													&amp; Developers
												</h3>
												<a href="https://github.com/covidgraph/"><img class="border-radius depth-2 mt-4 mb-3 semi-rounded" src="/img/content-img/screenshot-github.jpg"></a>
											</div>
											<div>
												<p class="detail-text">
													We welcome any development help you can offer. We manage our roadmap and development process with GitHub issues. You can find all information about our datasources, technologies and applications as well as guidance how to get started on GitHub.
												</p>
											</div>
										</div>
										<div class="card-footer">
											<div class="text-center">
												<a class="btn btn-outline-semi-light btn-xl mr-2 mb-2 scrollTo" href="https://github.com/covidgraph/documentation/wiki">GitHub <i class="simple-icon-arrow-right"></i></a>
											</div>
										</div>
									</div>
								</div>

								<div class="col-lg-3 col-md-6">
									<div class="card">
										<div class="card-body">
											<div class="text-center">
												<h3 class="mb-3 font-weight-semibold">
													General Public,<br>
													Press &amp; Media
												</h3>
												<a href="/news"><img class="border-radius depth-2 mt-4 mb-3 semi-rounded" src="/img/content-img/screenshot-news.jpg"></a>
											</div>
											<div>
												<p class="detail-text">
													We invite you to  communicate and share our project. We are happy to answer your questions.
												</p>
												<p class="detail-text">
													Follow us on <a class="" href="https://www.linkedin.com/company/covidgraph">LinkedIn</a> and <a class="" href="https://twitter.com/covidgraph/">Twitter</a>.
												</p>
											</div>
										</div>
										<div class="card-footer">
											<div class="text-center">
												<a class="btn btn-secondary btn-xl mr-2 mb-2 scrollTo" href="/news">NEWS</a>
											</div>
										</div>
									</div>
									</div>
									
							</div>							
							
						</div>
					</div>

					<div class="section background">
						<div class="container" id="applications">
							<div class="row">
								<div class="col-12 offset-0 col-lg-8 offset-lg-2 text-center mb-4">
									<h2>Applications</h2>

									<p class="section-text">
										The CovidGraph project provides a growing number of applications to interact with the data stored in the Knowledge Graph.
										Please feel free to use these apps free of charge, no registration/sign-up needed.
									</p>
								</div>
							</div>

							<div class="row screenshots">
								<div class="col-12 mb-4">
									<ul class="nav nav-tabs justify-content-center mb-4" role="tablist">
										<li class="nav-item">
											<a class="nav-link active" data-toggle="tab" href="#visual-graph-explorer" role="tab">
												<p>Visual Graph Explorer</p>
											</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" data-toggle="tab" href="#neo4j-browser" role="tab">
												<p>Neo4j Browser</p>
											</a>
										</li>
										<!--li class="nav-item">
											<a class="nav-link" data-toggle="tab" href="#data-browser" role="tab">
												<p>Text Browser</p>
											</a>
										</li-->
									</ul>
									<div class="tab-content">
										<div class="tab-pane fade show active justify-content-center" id="visual-graph-explorer" role="tabpanel">
											<a target="_blank" href="https://live.yworks.com/covidgraph">
												<img alt="app image" class="app-image" src="https://raw.githubusercontent.com/covidgraph/visual-graph-explorer/master/docs/screenshot.png">
											</a>
											<div class="mt-5">
												<p>
													This application is provided by yWorks and allows you to explore the knowledge data in a visual way.
												</p>
											</div>
										</div>
										<div class="tab-pane fade justify-content-center" id="neo4j-browser" role="tabpanel">
											<a target="_blank" href="https://covid.petesis.com:7473/browser/">
												<img alt="app image" class="app-image" src="/img/content-img/screenshot-neo4j-browser.jpg">
											</a>
											<div class="mt-5">
												<p>
													The Neo4j browser is a user interface for querying the graph directly on database level by pattern matching via Cypher.
													It offers a basic visualization of the result graph as well as data export and API access. A public version is available at:<br><br>
													HTTPS<br>
													<a target="_blank" href="https://covid.petesis.com:7473">https://covid.petesis.com:7473</a>
													<br><br>

													<b>User:</b> public<br>
													<b>Password:</b> corona

												</p>
											</div>
										</div>
										<!--div class="tab-pane fade justify-content-center" id="data-browser" role="tabpanel">
											<a target="_blank" href="https://covidgraph.org/data-browser?type=papers&pageSize=1000">
												<img alt="app image" class="app-image" src="/img/content-img/screenshot-databrowser.jpg">
											</a>
											<div class="mt-5">
												<p>
													Allows you to browse through papers and patents.
												</p>
											</div>
										</div-->
									</div>
								</div>
							</div>
						</div>
					</div>		

					<div class="section">
						<div class="container" id="what-we-do">
							<!--div class="row">
								<div class="col-12 offset-0 col-lg-8 offset-lg-2 text-center">
									<h2>What We Do</h2>
									<p>
										We build a knowledge graph on COVID-19 that integrates various public datasets. This includes relevant publications, case statistics, genes and functions, molecular data and much more.
										<br><br>
										<a class="btn btn-secondary btn-xl" target="_top" href="/news">NEWS</a>
									</p>
								</div>
							</div-->

							<!--div class="row feature-row">
								<div class="col-12 col-md-6 col-lg-5 d-flex align-items-center">
									<div class="d-flex">
										<div class="feature-icon-container">
											<div class="icon-background">
												<i class="fas fa-fw fa-ban"></i>
											</div>
										</div>
										<div class="feature-text-container">
											<h3>Open Data in Neo4j</h3>
											<p>
												The graph is implemented in Neo4j. A public version is available at:<br><br>
												HTTPS<br>
												<a target="_blank" href="https://covid.petesis.com:7473">https://covid.petesis.com:7473</a>
												<br><br>

												<b>User:</b> public<br>
												<b>Password:</b> corona

											</p>
										</div>
									</div>
								</div>
								<div class="col-12 col-md-6 col-lg-6 offset-lg-1 offset-md-0 position-relative">
									<div class="background-item-1"></div>
									<img alt="feature" class="feature-image feature-image-right feature-image-shadow position-relative" src="img/content-img/graph3.png">
								</div>
							</div-->

							<!--div class="row feature-row">
								<div class="col-12 col-md-6 col-lg-6 order-2 order-md-1">
									<img alt="feature" class="feature-image feature-image-left feature-image-charts feature-image-shadow" src="/img/content-img/covid-graph-schema-2020-04-07.png">
								</div>

								<div class="col-12 col-md-6 offset-md-0 col-lg-5 offset-lg-1 d-flex align-items-center order-1 order-md-2">
									<div class="d-flex">
										<div class="feature-icon-container">
											<div class="icon-background">
												<i class="fas fa-fw fa-ban"></i>
											</div>
										</div>
										<div class="feature-text-container">
											<h3>Schema</h3>
											<p>										
												The schema describes the structure of the graph data. The diagram on the left was created with yEd Live and can be viewed in an interactive diagram editor provided by yWorks <a target="_blank" href="https://www.yworks.com/yed-live/?file=https://gist.githubusercontent.com/yGuy/f168a2f03e3cd841a8220b3a5bd8f18a/raw/7930fbb26713536a58fa53aaafd992b1c67be2d5/covid-graph-schema-2020-04-07">here</a>.
											</p>
										</div>
									</div>
								</div>
							</div-->

						</div>
					</div>

					<!-- Who we are -->					
					<div class="section background">
						<div class="container" id="who-we-are">
							<div class="row mb-3">
								<div class="col-12 offset-0 col-lg-8 offset-lg-2 text-center">
									<h2>Who we are</h2>
									<p>
										We are a diverse team of scientists, developers and data people from academia and industry.
									</p>
								</div>
							</div>
							<div class="row">
								<div class="col-12 offset-0 col-lg-6 offset-lg-3">
									<div class="text-center mb-5">
										<a class="btn btn-secondary btn-xl" target="_top" href="/team">TEAM PAGE</a>
									</div>
								</div>
							</div>
							<div class="row company-logos">
								<style type="text/css">
									.company-logos > div {
										text-align: center;
									}
									.company-logos .helper {
										display: inline-block;
										height: 100%;
										vertical-align: middle;
									}
									.company-logos img {
										vertical-align: middle;
										max-width: 200px;
										max-height: 100px;
										margin-bottom: 50px;
										/*filter: gray;
										-webkit-filter: grayscale(1);
										filter: grayscale(1);*/
									}
									.company-logos img:hover {
										filter: none;
										-webkit-filter: grayscale(0);
									}
								</style>
								<div class="col-lg-3 col-md-4 col-sm-6 p-0"><span class="helper"></span><a href="https://kaiser-preusse.com/"><img src="/img/company-logos/kaiser-preusse.jpg"></a></div>
								<div class="col-lg-3 col-md-4 col-sm-6 p-0"><span class="helper"></span><a href="https://www.dzd-ev.de/en/"><img src="/img/company-logos/120816_LogoDZD_11-06_englisch_2c_Pantone.png"></a></div>
								<div class="col-lg-3 col-md-4 col-sm-6 p-0"><span class="helper"></span><a href="https://www.yworks.com/"><img src="/img/company-logos/yWorks_logo.svg"></a></div>
								<div class="col-lg-3 col-md-4 col-sm-6 p-0"><span class="helper"></span><a href="https://www.uni-freiburg.de/?set_language=en"><img src="/img/company-logos/uni-freiburg_logo.svg"></a></div>
								<div class="col-lg-3 col-md-4 col-sm-6 p-0"><span class="helper"></span><a href="https://www.prodyna.com/"><img src="/img/company-logos/prodyna_logo.png"></a></div>
								<div class="col-lg-3 col-md-4 col-sm-6 p-0"><span class="helper"></span><a href="https://www.qnit.de/en/"><img src="/img/company-logos/Qnit_logo_blue_Signatur.jpg"></a></div>
								<div class="col-lg-3 col-md-4 col-sm-6 p-0"><span class="helper"></span><a href="https://structr.com/"><img src="/img/company-logos/structr_141414_300dpi.png"></a></div>
								<div class="col-lg-3 col-md-4 col-sm-6 p-0"><span class="helper"></span><a href="https://www.derivo.de"><img src="/img/company-logos/derivo_logo_rgb-600dpi.png"></a></div>
								<div class="col-lg-3 col-md-4 col-sm-6 p-0"><span class="helper"></span><a href="https://neo4j.com/"><img src="/img/company-logos/neo4j_logo.svg"></a></div>
								<div class="col-lg-3 col-md-4 col-sm-6 p-0"><span class="helper"></span><a href="https://linkurio.us/"><img src="/img/company-logos/linkurious_logo.svg"></a></div>
								<div class="col-lg-3 col-md-4 col-sm-6 p-0"><span class="helper"></span><a href="https://graphileon.com/"><img src="/img/company-logos/graphileonlogo.png"></a></div>
								<div class="col-lg-3 col-md-4 col-sm-6 p-0"><span class="helper"></span><a href="https://www.helomics.com/"><img src="/img/company-logos/Helomics-logo-small.png"></a></div>
								<div class="col-lg-3 col-md-4 col-sm-6 p-0"><span class="helper"></span><a href="https://international.au.dk/"><img src="/img/company-logos/aulogo_uk_var2_blue.png"></a></div>
								<div class="col-lg-3 col-md-4 col-sm-6 p-0"><span class="helper"></span><a href="https://www.s-cubed-global.com/"><img src="/img/company-logos/s-cubed-logo-dark.png"></a></div>
							</div>

						</div>
					</div>


					<div class="section mb-0">
						<div class="container" id="data">

							<div class="row mb-5">
								<div class="col-12 offset-0 col-lg-8 offset-lg-2 text-center">
									<h2>Datasets</h2>
									<p>
										We integrate data from various sources and link them in our knowledge graph:
									</p>
								</div>
							</div>

							<div class="row pt-5">

								<div class="col-12 col-md-6 col-lg-6 mb-3">
									<h3>COVID-19 Open Research Dataset (CORD-19)</h3>

									<p>In response to the COVID-19 pandemic, the Allen Institute for AI has partnered with leading research groups to prepare and distribute the COVID-19 Open Research Dataset (CORD-19), a free resource of over 44,000 scholarly articles, including over 29,000 with full text, about COVID-19 and the coronavirus family of viruses for use by the global research community.</p>
									<a href="https://pages.semanticscholar.org/coronavirus-research">https://pages.semanticscholar.org/coronavirus-research</a>
								</div>
								<div class="col-12 col-md-6 col-lg-6 mb-3">
									<img class="img-fluid border-radius depth-2 mb-3 semi-rounded" src="/img/content-img/semantic-scholar-corona.jpg">
								</div>
								<div class="col-12 mb-5">
								</div>

								<div class="col-12 col-md-6 col-lg-6 mb-3 pl-3">
									<h3>The Lens COVID-19 Datasets</h3>
									<p>
										The Lens has assembled free and open datasets of patent documents, scholarly research works metadata and biological sequences from patents, and deposited them in a machine-readable and explorable form.</p>
									<a href="https://about.lens.org/covid-19/">https://about.lens.org/covid-19/</a>
								</div>
								<div class="col-12 col-md-6 col-lg-6 mb-3">
									<img class="img-fluid border-radius depth-2 mb-3 semi-rounded" src="/img/content-img/the-lens-covid-19.jpg">
								</div>
								<div class="col-12 mb-5">
								</div>

								<div class="col-12 col-md-6 col-lg-6 mb-3 pl-3">
									<h3>Ensembl Genome Browser</h3>
									<p>
										Ensembl is a genome browser for vertebrate genomes that supports research in comparative genomics, evolution, sequence variation and transcriptional regulation. Ensembl annotate genes, computes multiple alignments, predicts regulatory function and collects disease data. Ensembl tools include BLAST, BLAT, BioMart and the Variant Effect Predictor (VEP) for all supported species.</p>
									<a href="http://www.ensembl.org">http://www.ensembl.org</a>
								</div>
								<div class="col-12 col-md-6 col-lg-6 mb-3">
									<img class="img-fluid border-radius depth-2 mb-3 semi-rounded" src="/img/content-img/ensembl-org.jpg">
								</div>
								<div class="col-12 mb-5">
								</div>

								<div class="col-12 col-md-6 col-lg-6 mb-3 pl-3">
									<h3>NCBI Gene Database</h3>
									<p>
										Gene integrates information from a wide range of species. A record may include nomenclature, Reference Sequences (RefSeqs), maps, pathways, variations, phenotypes, and links to genome-, phenotype-, and locus-specific resources worldwide.</p>
									<a href="https://www.ncbi.nlm.nih.gov/gene">https://www.ncbi.nlm.nih.gov/gene</a>
								</div>
								<div class="col-12 col-md-6 col-lg-6 mb-3">
									<img class="img-fluid border-radius depth-2 mb-3 semi-rounded" src="/img/content-img/NCBI Gene Database.png">
								</div>
								<div class="col-12 mb-5">
								</div>

								<div class="col-12 col-md-6 col-lg-6 mb-3 pl-3">
									<h3>The Gene Ontology Resource</h3>
									<p>The Gene Ontology (GO) knowledgebase is the world’s largest source of information on the functions of genes. This knowledge is both human-readable and machine-readable, and is a foundation for computational analysis of large-scale molecular biology and genetics experiments in biomedical research.</p>
									<a href="http://geneontology.org">http://geneontology.org</a>
								</div>
								<div class="col-12 col-md-6 col-lg-6 mb-3">
									<img class="img-fluid border-radius depth-2 mb-3 semi-rounded" src="/img/content-img/gene-ontology-org.jpg">
								</div>
								<div class="col-12 mb-5">
								</div>

								<div class="col-12 col-md-6 col-lg-6 mb-3 pl-3">
									<h3>Experimental data from clinical studies and molecular genetics</h3>
									<p>(t.b.d.)</p>
									<a href=""></a>
								</div>
								<div class="col-12 col-md-6 col-lg-6 mb-3">
									<img class="img-fluid border-radius depth-2 mb-3 semi-rounded" src="/img/landing-page/layout-11.jpg">
								</div>
								<div class="col-12 mb-5">
								</div>

								<div class="col-12 col-md-6 col-lg-6 mb-3 pl-3">
									<h3>2019 Novel Coronavirus COVID-19 (2019-nCoV) Data Repository by Johns Hopkins CSSE</h3>
									<p>This is the data repository for the 2019 Novel Coronavirus Visual Dashboard operated by the Johns Hopkins University Center for Systems Science and Engineering (JHU CSSE). Also, Supported by ESRI Living Atlas Team and the Johns Hopkins University Applied Physics Lab (JHU APL).</p>
									<a href="https://github.com/CSSEGISandData/COVID-19">https://github.com/CSSEGISandData/COVID-19</a>
								</div>
								<div class="col-12 col-md-6 col-lg-6 mb-3">
									<img class="img-fluid border-radius depth-2 mb-3 semi-rounded" src="https://covidgraph.org/img/content-img/github-john-s-hopkins.png">
								</div>
								<div class="col-12 mb-5">
								</div>

								<div class="col-12 col-md-6 col-lg-6 mb-3 pl-3">
									<h3>United Nations World Population Prospects 2019</h3>
									<p>The 2019 Revision of World Population Prospects is the twenty-sixth round of official United Nations population estimates and projections that have been prepared by the Population Division of the Department of Economic and Social Affairs of the United Nations Secretariat.</p>
									<a href="https://population.un.org/wpp/">https://population.un.org/wpp/</a>
								</div>
								<div class="col-12 col-md-6 col-lg-6 mb-3">
									<img class="img-fluid border-radius depth-2 mb-3 semi-rounded" src="https://covidgraph.org/img/content-img/united-nations-population-data.png">
								</div>
								<div class="col-12 mb-5">
								</div>
							</div>
						</div>
					</div>

					<!--div class="section background">
						<div class="container" id="use-cases">
							<div class="row">
								<div class="col-12 offset-0 col-lg-8 offset-lg-2">
									<h2>Use Cases</h2>
									<p>Scientists around the world have been given the task to work on COVID-19. Many publications around the virus have been published in the past months, but relevant work around the family of coronaviruses already existed before covid 19 appeared.</p>
									<p>We would like to help researchers and scientists to quickly and efficiently find their way through the more than 40.000 existing publications. We provide them with tools that use artificial intelligence, advanced visualization techniques, and intuitive user interfaces to explore papers and patents around the family of the corona viruses, existing treatments and medications.</p>
								</div>
							</div>
						</div>
					</div>
				
					<div class="section">
						<div class="container" id="how-to-help">
							<div class="row">
								<div class="col-12 offset-0 col-lg-8 offset-lg-2">
									<h2>How to Help</h2>
									<p>
										We need your help to learn more about COVID-19! You can help with:
										<ul>
											<li>data analysis on the integrated data set</li>
											<li>load more datasets to Neo4j</li>
											<li>improve our website</li>
											<li>communicate and share our project</li>
										</ul>
									</p>
								</div>
							</div>
						</div>
					</div-->

					<!--div class="section background background-no-bottom mb-0">
						<div class="container" id="get-in-touch">
							<div class="row">
								<div class="col-12 offset-0 col-lg-8 offset-lg-2">
									<h2>Get in Touch</h2>
									<p>
										We use <a href="https://matrix.org">Matrix</a> to communicate. It's a free and federated Slack.
										<br><br>
										<a href="https://about.riot.im/">Riot</a> is the standard client for Matrix.
										<br><br>
										<a class="btn btn-secondary btn-xl" target="_top" href="https://about.riot.im/downloads">DOWNLOAD RIOT</a>
										<br><br>
										How to get started:
										<br>
									</p>
									<ul>
										<li>Download Riot or start the web app: <a href="https://about.riot.im/downloads">https://about.riot.im/downloads</a></li>
										<li>When asked to login/signup: create a free account on the matrix.org homeserver</li>
										<li>Join our main room: Click 'explore', search for our room, click join: #covidgraph:meet.dzd-ev.de</li>
									</ul>
									Please set your full name in your Riot profile, introduce yourself in the main room and read our <a href="https://github.com/covidgraph/documentation/wiki">community wiki</a>.
								</div>

							</div>
						</div>
					</div-->

					<div class="section footer mb-0">
						<div class="container">
							<div class="row footer-row">
								<div class="col-12 text-right">
									<a class="btn btn-circle btn-outline-semi-light footer-circle-button scrollTo" href="#home" id="footerCircleButton"><i class="simple-icon-arrow-up"></i></a>
								</div>
								<div class="col-12 text-center footer-content">
									<a href="#home" class="scrollTo">
										<img class="footer-logo" alt="footer logo" src="img/virus-logo.svg">
									</a>
								</div>
							</div>
						</div>
						<div class="separator mt-5"></div>
						<div class="container copyright pt-5 pb-5">
							<div class="row">
								<div class="col-12 mb-4 text-center">
									<small>
										This site uses Matomo to analyze traffic and help us to improve your user experience. We process your IP address. This data is only processed by us and our web hosting platform.
									</small>
									<br>
								</div>
								<div class="col-12 text-center">
									<p class="mb-0">© 2020 The CovidGraph Project.&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="/privacy-policy">Privacy Policy</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="/legal">Legal</a></p>
								</div>

							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<script src="js/vendor/jquery-3.3.1.min.js"></script>
		<script src="js/vendor/bootstrap.bundle.min.js"></script>
		<script src="js/vendor/owl.carousel.min.js"></script>
		<script src="js/vendor/jquery.barrating.min.js"></script>
		<script src="js/vendor/dropzone.min.js"></script>
		<script src="js/vendor/landing-page/headroom.min.js"></script>
		<script src="js/vendor/landing-page/jQuery.headroom.js"></script>
		<script src="js/vendor/landing-page/jquery.scrollTo.min.js"></script>
		<script src="js/vendor/landing-page/jquery.autoellipsis.js"></script>
		<script src="js/dore.scripts.landingpage.js"></script>
		<script src="js/scripts.single.theme.js"></script>
		<!-- Matomo -->
		<script type="text/javascript">
			var _paq = window._paq || [];
			/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
			_paq.push(['trackPageView']);
			_paq.push(['disableCookies']);
			_paq.push(['enableLinkTracking']);
			(function() {
				var u="//covidgraph.org/matomo/";
				_paq.push(['setTrackerUrl', u+'matomo.php']);
				_paq.push(['setSiteId', '1']);
				var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
				g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
			})();
		</script>
		<!-- End Matomo Code -->

	</body>
</html>