				<nav class="landing-page-nav">
					<div class="container d-flex align-items-center justify-content-between">
						<a class="navbar-logo pull-left scrollTo" href="/">
							<img src="/img/logos/covid%E2%9D%8Bgraph-logo-light.png">
						</a>
						<ul class="navbar-nav d-none d-lg-flex flex-row">
							<li class="nav-item"><a href="/#what-we-do" class="scrollTo">WHAT WE DO</a></li>
							<li class="nav-item"><a href="/#who-we-are" class="scrollTo">WHO WE ARE</a></li>
							<li class="nav-item"><a href="/news">NEWS</a></li>
							<li class="nav-item"><a href="/#how-to-help" class="scrollTo">HOW TO HELP</a></li>
							<li class="nav-item"><a href="/#data" class="scrollTo">DATA</a></li>
							<li class="nav-item"><a href="/#use-cases" class="scrollTo">USE CASES</a></li>
							<li class="nav-item pl-4">
								<a class="btn btn-outline-semi-light btn-sm pr-4 pl-4" target="_top" href="#get-in-touch">GET IN TOUCH</a>
							</li>
						</ul>
						<a href="#" class="mobile-menu-button">
							<i class="simple-icon-menu"></i>
						</a>
					</div>
				</nav>

