											<div class="card">
												<div class="card-body">
													<div>
														<img src="${member.img.path}">
														<br>
														<h4 class="mb-3 font-weight-semibold">
															${member.name}
														</h4>
														<a href="${member.websiteLink}">${member.websiteLinkText}</a>
													</div>
													<div>
														<p class="detail-text">
															${member.bio}
														</p>
													</div>
												</div>
											</div>
