<div class="col-lg-3 col-md-4 col-sm-6 p-0">											
	<div class="card">
		<div class="card-body">
			<div>
				<img src="${member.img.path}">
				<br>
				<h4 class="mb-3 font-weight-semibold">
					${member.name}
				</h4>
				<a href="${member.websiteLink}">${member.websiteLinkText}</a><br>
				<a href="${member.websiteLink2}">${member.websiteLinkText2}</a>
			</div>
			<div>
				<p class="detail-text">
					${member.bio}
				</p>
			</div>
			<div>
				<a href="/team-interview/${member.interview}">Interview</a>	
			</div>
		</div>
	</div>
</div>