<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login - COVID❋GRAPH Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="icon" href="/img/virus-logo-dark.svg">
    <link rel="stylesheet" href="/font/iconsmind-s/css/iconsminds.css" />
    <link rel="stylesheet" href="/font/simple-line-icons/css/simple-line-icons.css" />

    <link rel="stylesheet" href="/css/vendor/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/vendor/bootstrap.rtl.only.min.css" />
    <link rel="stylesheet" href="/css/vendor/bootstrap-float-label.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/custom.css" />
</head>

<body class="background show-spinner no-footer">
    <!--div class="fixed-background"></div-->
    <main>
        <div class="container">
            <div class="row h-100">
                <div class="col-12 col-md-10 mx-auto my-auto">
                    <div class="card auth-card">
                        <div class="position-relative image-side">

							<p>
								<a class="navbar-logo pull-left" href="/">
									<span class="white"></span>
									<span class="dark"></span>
								</a>
							</p>
							
							<p class="white mb-4" style="position: absolute; bottom: 0; width: calc(100% - 60px);">
								CovidGraph is a non-profit collaboration of researchers, software developers, data scientists and medical professionals.
							</p>
						</div>
                        <div class="form-side">
							<h1>404 Not Found</h1>
                            <h6 class="mb-4">This resource doesn't exist. Please proceed to the start page.</h6>
							<div class="d-flex justify-content-between align-items-center mb-5">
								<a href="/" class="btn btn-primary btn-lg btn-shadow">Start Page</a>
							</div>
							
                            
						</div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="/js/vendor/jquery-3.3.1.min.js"></script>
    <script src="/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/js/dore.script.js"></script>
    <script src="/js/scripts.js"></script>
	<!-- Matomo -->
	<script type="text/javascript">
		var _paq = window._paq || [];
		/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
		_paq.push(['trackPageView']);
		_paq.push(['enableLinkTracking']);
		_paq.push(['disableCookies']);
		(function() {
			var u="//covidgraph.org/matomo/";
			_paq.push(['setTrackerUrl', u+'matomo.php']);
			_paq.push(['setSiteId', '1']);
			var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
			g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
		})();
	</script>
	<!-- End Matomo Code -->
</body>

</html>