<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>CovidGraph - ${titleize(page.name, '-')}</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		
		<!--FIX FAVICON WARNING-->
		<link rel="shortcut icon" href="">
		
		<link rel="stylesheet" href="/font/iconsmind/style.css">
		<link rel="stylesheet" href="/font/simple-line-icons/css/simple-line-icons.css">

		<link rel="stylesheet" href="/css/vendor/bootstrap-stars.css">
		<link rel="stylesheet" href="/css/vendor/bootstrap.min.css">
		<link rel="stylesheet" href="/css/vendor/owl.carousel.min.css">
		<link rel="stylesheet" href="/css/vendor/bootstrap-stars.css">
		<link rel="stylesheet" href="/css/vendor/video-js.css">
		<link rel="stylesheet" href="/css/dore.light.blue.min.css">
		<link rel="stylesheet" href="/css/main.css">
		<link rel="stylesheet" href="/css/custom.css">
		<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
	</head>

	<body class="show-spinner">
		<div class="landing-page subpage">
${include('Mobile Menu')}
			<div class="main-container">
${include('Main Nav')}				
				<div class="content-container" id="home">

					
					<div class="section hero-subpage">
						<div class="container">
							<div class="row home-row">

							</div>
						</div>
					</div>					
${render(children)}
					
					<div class="section footer mb-0">
						<div class="container">
							<div class="row footer-row">
								<div class="col-12 text-right">
									<a class="btn btn-circle btn-outline-semi-light footer-circle-button scrollTo" href="#home" id="footerCircleButton"><i class="simple-icon-arrow-up"></i></a>
								</div>
								<div class="col-12 text-center footer-content">
									<a href="#home" class="scrollTo">
										<img class="footer-logo" alt="footer logo" src="/img/virus-logo.svg">
									</a>
								</div>
							</div>
						</div>
						<div class="separator mt-5"></div>
						<div class="container copyright pt-5 pb-5">
							<div class="row">
								<div class="col-12 mb-4">
									<small>
										This site uses Matomo to analyze traffic and help us to improve your user experience. We process your IP address. This data is only processed by us and our web hosting platform.
									</small>
								</div>
								<div class="col-12 text-center">
									<p class="mb-0">2020 © The CovidGraph Project.</p>
								</div>

							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<script src="/js/vendor/bootstrap.bundle.min.js"></script>
		<script src="/js/vendor/owl.carousel.min.js"></script>
		<script src="/js/vendor/jquery.barrating.min.js"></script>
		<script src="/js/vendor/jquery.barrating.min.js"></script>

		<script src="/js/dore.scripts.landingpage.js"></script>
		<script src="/js/scripts.single.theme.js"></script>
		<script src="/js/scripts.js"></script>
		<!-- Matomo -->
		<script type="text/javascript">
			var _paq = window._paq || [];
			/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
			_paq.push(['trackPageView']);
			_paq.push(['disableCookies']);
			_paq.push(['enableLinkTracking']);
			(function() {
				var u="//covidgraph.org/matomo/";
				_paq.push(['setTrackerUrl', u+'matomo.php']);
				_paq.push(['setSiteId', '1']);
				var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
				g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
			})();
		</script>
		<!-- End Matomo Code -->
	</body>

</html>