					<div class="section">
						<div class="container" id="who-we-are">
							<div class="row">
								<div class="col-12 offset-0 col-lg-8 offset-lg-2 text-center">
									<h2>Who we are</h2>
									<p>
										We are a diverse team of scientists, developers and data people from academia and industry.
										<br>
										We are from Kaiser &amp; Preusse, yWorks, Prodyna, Neo4j, University of Freiburg, Structr and more to come!
									</p>
								</div>
							</div>							

							<div class="row">
								<div class="col-12 p-0">
									<div class="-owl-container">
										<div class="-owl-carousel -home-carousel">
${include('Member Card 1')}
										</div>
									</div>
								</div>
							</div>
							
							<div class="row">
								<div class="col-12 p-0">
									<div class="-owl-container">
										<div class="-owl-carousel -home-carousel">
${include('Member Card 2')}
										</div>
									</div>
								</div>
							</div>
						
							<div class="row">
								<div class="col-12 p-0">
									<div class="-owl-container">
										<div class="-owl-carousel -home-carousel">
${include('Member Card 3')}
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
