							<div class="row pt-5" id="${clean(article.name)}">

								<div class="col-12 col-md-6 col-lg-6 mb-3">
									<small>${date_format(video.publicationDate, 'MMMM dd, YYYY')}</small>
									<h3>${video.title}</h3>
									<p class="intro-text">${video.introText}</p>
									<div class="article-text">${video.text}</div>
								</div>
								<div class="col-12 col-md-6 col-lg-6" style="padding: 2rem 0 0 3rem">
									
								  <div class="embed-container">
									  <iframe width="560" height="315" src="${video.linkURL}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								  </div>
									
								</div>
								<div class="col-12 mb-5">
								</div>

							</div>
