<div class="section">
	<div class="container" id="what-we-do">
		<!--div class="row">
		<div class="col-12 offset-0 col-lg-8 offset-lg-2 text-center">
		 <h2>What We Do</h2>
		 <p>
		  We build a knowledge graph on COVID-19 that integrates various public datasets. This includes relevant publications, case statistics, genes and functions, molecular data and much more.
		  <br><br>
		  <a class="btn btn-secondary btn-xl" target="_top" href="/news">NEWS</a>
		 </p>
		</div>
	   </div-->

		<!--div class="row feature-row">
		<div class="col-12 col-md-6 col-lg-5 d-flex align-items-center">
		 <div class="d-flex">
		  <div class="feature-icon-container">
		   <div class="icon-background">
			<i class="fas fa-fw fa-ban"></i>
		   </div>
		  </div>
		  <div class="feature-text-container">
		   <h3>Open Data in Neo4j</h3>
		   <p>
			The graph is implemented in Neo4j. A public version is available at:<br><br>
			HTTPS<br>
			<a target="_blank" href="https://covid.petesis.com:7473">https://covid.petesis.com:7473</a>
			<br><br>

			<b>User:</b> public<br>
			<b>Password:</b> corona

		   </p>
		  </div>
		 </div>
		</div>
		<div class="col-12 col-md-6 col-lg-6 offset-lg-1 offset-md-0 position-relative">
		 <div class="background-item-1"></div>
		 <img alt="feature" class="feature-image feature-image-right feature-image-shadow position-relative" src="img/content-img/graph3.png">
		</div>
	   </div-->

		<!--div class="row feature-row">
		<div class="col-12 col-md-6 col-lg-6 order-2 order-md-1">
		 <img alt="feature" class="feature-image feature-image-left feature-image-charts feature-image-shadow" src="/img/content-img/covid-graph-schema-2020-04-07.png">
		</div>

		<div class="col-12 col-md-6 offset-md-0 col-lg-5 offset-lg-1 d-flex align-items-center order-1 order-md-2">
		 <div class="d-flex">
		  <div class="feature-icon-container">
		   <div class="icon-background">
			<i class="fas fa-fw fa-ban"></i>
		   </div>
		  </div>
		  <div class="feature-text-container">
		   <h3>Schema</h3>
		   <p>										
			The schema describes the structure of the graph data. The diagram on the left was created with yEd Live and can be viewed in an interactive diagram editor provided by yWorks <a target="_blank" href="https://www.yworks.com/yed-live/?file=https://gist.githubusercontent.com/yGuy/f168a2f03e3cd841a8220b3a5bd8f18a/raw/7930fbb26713536a58fa53aaafd992b1c67be2d5/covid-graph-schema-2020-04-07">here</a>.
		   </p>
		  </div>
		 </div>
		</div>
	   </div-->

	</div>
</div>