<!-- Who we are -->					
<div class="section background">
	<div class="container" id="who-we-are">
		<div class="row mb-3">
			<div class="col-12 offset-0 col-lg-8 offset-lg-2 text-center">
				<h2>Who we are</h2>
				<p>
					We are a diverse team of scientists, developers and data people from academia and industry.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-12 offset-0 col-lg-6 offset-lg-3">
				<div class="text-center mb-5">
					<a class="btn btn-secondary btn-xl" target="_top" href="/team">TEAM PAGE</a>
				</div>
			</div>
		</div>
		<div class="row company-logos">
			<style type="text/css">
				.company-logos > div {
					text-align: center;
				}
				.company-logos .helper {
					display: inline-block;
					height: 100%;
					vertical-align: middle;
				}
				.company-logos img {
					vertical-align: middle;
					max-width: 200px;
					max-height: 100px;
					margin-bottom: 50px;
					/*filter: gray;
					-webkit-filter: grayscale(1);
					filter: grayscale(1);*/
				}
				.company-logos img:hover {
					filter: none;
					-webkit-filter: grayscale(0);
				}
			</style>
			<div class="col-lg-3 col-md-4 col-sm-6 p-0"><span class="helper"></span><a href="https://kaiser-preusse.com/"><img src="/img/company-logos/kaiser-preusse.jpg"></a></div>
			<div class="col-lg-3 col-md-4 col-sm-6 p-0"><span class="helper"></span><a href="https://www.dzd-ev.de/en/"><img src="/img/company-logos/120816_LogoDZD_11-06_englisch_2c_Pantone.png"></a></div>
			<div class="col-lg-3 col-md-4 col-sm-6 p-0"><span class="helper"></span><a href="https://www.yworks.com/"><img src="/img/company-logos/yWorks_logo.svg"></a></div>
			<div class="col-lg-3 col-md-4 col-sm-6 p-0"><span class="helper"></span><a href="https://ankepachauer.de/"><img src="/img/company-logos/YOUSP_logo_Black.png"></a></div>
			<div class="col-lg-3 col-md-4 col-sm-6 p-0"><span class="helper"></span><a href="https://www.munro.consulting/"><img src="/img/company-logos/munro.png"></a></div>
			<div class="col-lg-3 col-md-4 col-sm-6 p-0"><span class="helper"></span><a href="https://www.uni-freiburg.de/?set_language=en"><img src="/img/company-logos/uni-freiburg_logo.svg"></a></div>
			<div class="col-lg-3 col-md-4 col-sm-6 p-0"><span class="helper"></span><a href="https://www.prodyna.com/"><img src="/img/company-logos/prodyna_logo.png"></a></div>
			<div class="col-lg-3 col-md-4 col-sm-6 p-0"><span class="helper"></span><a href="https://www.qnit.de/en/"><img src="/img/company-logos/Qnit_logo_blue_Signatur.jpg"></a></div>
			<div class="col-lg-3 col-md-4 col-sm-6 p-0"><span class="helper"></span><a href="https://structr.com/"><img src="/img/company-logos/structr_141414_300dpi.png"></a></div>
			<div class="col-lg-3 col-md-4 col-sm-6 p-0"><span class="helper"></span><a href="https://www.derivo.de"><img src="/img/company-logos/derivo_logo_rgb-600dpi.png"></a></div>
			<div class="col-lg-3 col-md-4 col-sm-6 p-0"><span class="helper"></span><a href="https://neo4j.com/"><img src="/img/company-logos/neo4j_logo.svg"></a></div>
			<div class="col-lg-3 col-md-4 col-sm-6 p-0"><span class="helper"></span><a href="https://linkurio.us/"><img src="/img/company-logos/linkurious_logo.svg"></a></div>
			<!--div class="col-lg-3 col-md-4 col-sm-6 p-0"><span class="helper"></span><a href="https://graphileon.com/"><img src="/img/company-logos/graphileonlogo.png"></a></div-->
			<div class="col-lg-3 col-md-4 col-sm-6 p-0"><span class="helper"></span><a href="https://www.helomics.com/"><img src="/img/company-logos/Helomics-logo-small.png"></a></div>
			<div class="col-lg-3 col-md-4 col-sm-6 p-0"><span class="helper"></span><a href="https://international.au.dk/"><img src="/img/company-logos/aulogo_uk_var2_blue.png"></a></div>
			<div class="col-lg-3 col-md-4 col-sm-6 p-0"><span class="helper"></span><a href="https://www.s-cubed-global.com/"><img src="/img/company-logos/s-cubed-logo-dark.png"></a></div>
		</div>

	</div>
</div>