<div class="section">
	<div class="container" id="aims">

		<div class="row mb-5">
			<div class="col-12 offset-0 col-lg-8 offset-lg-2">
				<h2 class="text-center">Who Is This Project Aimed At?</h2>
				<p>
					Our aim is to help researchers quickly and efficiently find their way through COVID-19 datasets and to provide tools that use artificial intelligence, advanced visualization techniques, and intuitive user interfaces. This allows to explore papers, patents, existing treatments and medications around the family of the corona viruses.
				</p>
				<div class="row">
					<div class="col-6">
						<p>
							In addition to literature data we connected information from fundamental entities in biology - namely genes and proteins and their function - , spanning a network of unparalleled size and knowledge.
						</p>
					</div>
					<div class="col-6">
						<p>
							Knowledge is primarily centered around the domain of corona-viruses but is steadily extended to other connected diseases.
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="row mb-3">
			<div class="col-12 offset-0 col-lg-8 offset-lg-2">
				<h3>
					Become part of this project and help free the world of COVID-19:
				</h3>
			</div>
		</div>							

		<div class="row" id="interest-boxes">

			<div class="col-lg-3 col-md-6">
				<div class="card">
					<div class="card-body">
						<div class="text-center">
							<h3 class="mb-3 font-weight-semibold">
								Medical &amp; Pharma Researchers

							</h3>
							<a href="#applications"><img class="border-radius depth-2 mt-4 mb-3 semi-rounded" src="/img/content-img/bloom-Gene_ACE2_MENTIONED_Paper.jpg"></a>
						</div>
						<div>
							<p class="detail-text">
								Our main aim is to support you and enable your scientific analysis. 
								Please feed us questions that you would like to ask of CovidGraph or take our apps and datasets for a test drive. We are relying on your input to create the applications that help you.
							</p>
						</div>
					</div>
					<div class="card-footer">
						<div class="text-center">
							<a class="btn btn-secondary btn-xl mr-2 mb-2 scrollTo" href="/contact">CONTACT US</a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-6">
				<div class="card">
					<div class="card-body">
						<div class="text-center">
							<h3 class="mb-3 font-weight-semibold">
								Medical<br>Databases
							</h3>
							<a href="/data"><img class="border-radius depth-2 mt-4 mb-3 semi-rounded" src="/img/content-img/covidgraph-schema.jpg"></a>
						</div>
						<div>
							<p class="detail-text">
								The CovidGraph project depends on data. We are looking for new datasources to enrich our knowledge graph. Any biomedical dataset relevant for COVID-19 research can be included in our database.
							</p>
						</div>
					</div>
					<div class="card-footer">
						<div class="text-center">
							<a class="btn btn-secondary btn-xl mr-2 mb-2 scrollTo" href="/contact">CONTACT US</a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-6">
				<div class="card">
					<div class="card-body">
						<div class="text-center">
							<h3 class="mb-3 font-weight-semibold">
								Data Scientists<br>
								&amp; Developers
							</h3>
							<a href="https://github.com/covidgraph/"><img class="border-radius depth-2 mt-4 mb-3 semi-rounded" src="/img/content-img/screenshot-github.jpg"></a>
						</div>
						<div>
							<p class="detail-text">
								We welcome any development help you can offer. We manage our roadmap and development process with GitHub issues. You can find all information about our datasources, technologies and applications as well as guidance how to get started on GitHub.
							</p>
						</div>
					</div>
					<div class="card-footer">
						<div class="text-center">
							<a class="btn btn-outline-semi-light btn-xl mr-2 mb-2 scrollTo" href="https://github.com/covidgraph/documentation/wiki">GitHub <i class="simple-icon-arrow-right"></i></a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-6">
				<div class="card">
					<div class="card-body">
						<div class="text-center">
							<h3 class="mb-3 font-weight-semibold">
								General Public,<br>
								Press &amp; Media
							</h3>
							<a href="/news"><img class="border-radius depth-2 mt-4 mb-3 semi-rounded" src="/img/content-img/screenshot-news.jpg"></a>
						</div>
						<div>
							<p class="detail-text">
								We invite you to  communicate and share our project. We are happy to answer your questions.
							</p>
							<p class="detail-text">
								Follow us on <a class="" href="https://www.linkedin.com/company/covidgraph">LinkedIn</a> and <a class="" href="https://twitter.com/covidgraph/">Twitter</a>.
							</p>
						</div>
					</div>
					<div class="card-footer">
						<div class="text-center">
							<a class="btn btn-secondary btn-xl mr-2 mb-2 scrollTo" href="/news">NEWS</a>
						</div>
					</div>
				</div>
			</div>

		</div>							

	</div>
</div>